body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #cbffbb ;
    color: #2f4f2f;
}

.header {
    background: #1f292b;
    color: rgb(166, 223, 210);
    padding: 40px;
    text-align: left;
}

#weather, #status {
    margin-top: 5px;
}

.grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.card {
    background: rgb(126, 8, 8);
    border-radius: 40px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 15%;
    border-radius: 20px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #2e8b57;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.details {
    padding: 20px;
}

.hidden {
    display: none;
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 22px;
    }
}
